@using Agahey.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About;
    ViewBag.Title = L("About");
    Layout = "/Views/Shared/Layout/_Front.cshtml";
}
<div class="section">
  <div class="container">
    <div class="box">
          درباره ما
    </div>
  </div>
</div>    
