@using Agahey.Web.Startup
@{
	ViewBag.Title = "خانه";
	ViewBag.CurrentPageName = PageNames.Home;
	Layout = "/Views/Shared/Layout/_Front.cshtml";
}
@section meta{
	<meta name="description" content="information about bitcoin.">
}
@section hero {
<div class="hero  is-info" id="tabs">
	<div class="hero-body">
		<div class="container">
		<div class="columns">
			<div class="column is-2">
				<figure class="image is-128x128">
					<img class="is-rounded" alt="c# programming language" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/C_Sharp_wordmark.svg/1024px-C_Sharp_wordmark.svg.png">
				</figure>
			</div>
			<div class="column is-10 mt-3">
				<h1 class="title" v-on:click="alert('hello')">
					@ViewData["page"]
				</h1>
				<h2 class="subtitle">
					ثقف ثقف ثقف ثقف یبل یبل من هنحخثهف نل خحبل نخبیل خنبیل ویلب خسل یبل خیسبلحس.
				</h2>
			</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
		<nav class="tabs is-boxed is-fullwidth">
			<div class="container">
				<ul>
					<li v-for="tab of tabs" :key="tab"  v-bind:class="{'is-active': tab == activeTab }" v-on:click="setActiveTab(tab)">
						<a href="#">
							<i class="fas fa-link mx-1"></i>
							{{tab}}
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
}

<section class="section">
 <div class="container">
  <div class="columns">
   <div class="column">
	<div class="notification is-info">
	 <h1 class="title is-size-4">Bulma ?</h1>
	 Bulma is a modern CSS framework from @@jgthms, based on Flexbox.
	 Using Bulma, we can describe our website's design using just classes. ᕕ( ᐛ )ᕗ
	</div>
   </div>
   <div class="column">
	<div class="notification is-primary">
	 Flexbox is a CSS spec that makes sectioning and aligning more natural.
	 We don't need to know Flexbox but it's how Bulma works behind-the-scenes. ⦤(^ー^)⦥
	</div>
   </div>
   <div class="column">
	<div class="notification is-warning">
	 Instead of writing our CSS per-element, we can use predefined classes.
	 With enough classes, we can describe our website design using semantics. ٩(^ᴗ^)۶
	</div>
   </div>
  </div>
 </div>
</section>

@section scripts
{
<environment names="Development">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
	<script>
	 var app= new Vue({
	   el:'#tabs',
	   data:function(){
		   return {
			   tabs : ['links','posts','learn','code','commnets'],
			   activeTab:'',
		   }
	   },
	   methods:{
		   setActiveTab:function(tab){
			   console.log("clicked");
		   this.activeTab = tab;
	   }
	   }
	 });
    </script>
</environment>

<environment names="Staging,Production">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</environment>
}