@using Agahey.Web.Startup
@{
	ViewBag.Title = "خانه";
	ViewBag.CurrentPageName = PageNames.Home;
	Layout = "/Views/Shared/Layout/_Front.cshtml";
}

@section scripts
{
<environment names="Development">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</environment>

<environment names="Staging,Production">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</environment>
}


<section class="section">
 <div class="container ">
  <h1 class="title is-4 my-3">آخرین صفحات بروز شده :</h1>
  <br />
  <div class="columns is-multiline">
   <div class="column is-3">
	 <a href="pages/btc">
	<div class="card">
	 <div class="card-image">
	   
	  <figure class="image is-4by3">
	   <img src="https://cryptocompetitions.online/wp-content/uploads/2021/06/blogo.png" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
		  <strong>
		بیتکوین
	     </strong>
	  </div>
	 </div>
	</div>
	</a>
   </div>
      <div class="column is-3">
	<div class="card">
	 <div class="card-image">
	  <figure class="image is-4by3">
	   <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2021/06/top-cryptocurrencies.jpeg" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
	   رمزارزها
	  </div>
	 </div>
	</div>
   </div>   <div class="column is-3">
	<div class="card">
	 <div class="card-image">
	  <figure class="image is-4by3">
	   <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
	   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	  </div>
	 </div>
	</div>
   </div>   <div class="column is-3">
	<div class="card">
	 <div class="card-image">
	  <figure class="image is-4by3">
	   <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
	   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	  </div>
	 </div>
	</div>
   </div>   <div class="column is-3">
	<div class="card">
	 <div class="card-image">
	  <figure class="image is-4by3">
	   <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
	   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	  </div>
	 </div>
	</div>
   </div>   <div class="column is-3">
	<div class="card">
	 <div class="card-image">
	  <figure class="image is-4by3">
	   <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
	   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	  </div>
	 </div>
	</div>
   </div>   <div class="column is-3">
	<div class="card">
	 <div class="card-image">
	  <figure class="image is-4by3">
	   <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	  </figure>
	 </div>
	 <div class="card-content">

	  <div class="content">
	   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>

</section>
